.root {
	-fx-background-color: #F5F5F5;
}

#btnHome, #btnAchatSansOrdonnance, #btnHistoriqueAchats {
	-fx-background-color: #2f577b;
	-fx-background-radius: 0em;
}

#btnHome:hover, #btnAchatSansOrdonnance:hover, #btnHistoriqueAchats:hover {
	-fx-background-color: #103551;
}

#btnHome:pressed, #btnAchatSansOrdonnance:pressed, #btnHistoriqueAchats:pressed {
	-fx-background-color: #2986CC;
}

#btnHome:focused, #btnAchatSansOrdonnance:focused, #btnHistoriqueAchats:focused {
	-fx-background-color: #2986CC;
	-fx-border-color: white;
	-fx-border-width: 0px 0px 0px 3px;
}

#btnHome, #btnAchatAvecOrdonnance, #btnHistoriqueAchats {
	-fx-background-color: #2f577b;
	-fx-background-radius: 0em;
}

#btnHome:hover, #btnAchatAvecOrdonnance:hover, #btnHistoriqueAchats:hover {
	-fx-background-color: #103551;
}

#btnHome:pressed, #btnAchatAvecOrdonnance:pressed, #btnHistoriqueAchats:pressed {
	-fx-background-color: #2986CC;
}

#btnHome:focused, #btnAchatAvecOrdonnance:focused, #btnHistoriqueAchats:focused {
	-fx-background-color: #2986CC;
	-fx-border-color: white;
	-fx-border-width: 0px 0px 0px 3px;
}

#btnSearch {
	-fx-background-color: #632B3F;
}

#btnSearch:hover {
	-fx-background-color: #3b1925;
}

#btnSearch:pressed {
	-fx-background-color: #c0aab2;
}

#btnValiderSansOrdonnance {
	-fx-background-color: #633F2B;
}

#btnValiderSansOrdonnance:hover {
	-fx-background-color: #271911;
}

#btnValiderSansOrdonnance:pressed {
	-fx-background-color: #c0b2aa;
}

#btnValiderAvecOrdonnance {
	-fx-background-color: #3F2B63;
}

#btnValiderAvecOrdonnance:hover {
	-fx-background-color: #25193b;
}

#btnValiderAvecOrdonnance:pressed {
	-fx-background-color: #b2aac0;
}

.table-view .column-header,
.table-view .column-header-background .filler {
	-fx-cell-size: 20;
	-fx-background-color: #632B3F;
}

.table-view .column-header .label {
	-fx-text-fill: white;
	-fx-font-weight: bold;
	-fx-alignment: CENTER_LEFT;
}